@let i = input();

<div class="flex flex-col gap-1">
  <label [for]="i?.id" class="text-text" [class.sr-only]="i?.hideLabel">{{ i?.label }}</label>
  <div class="relative">
    @if (i?.icon) {
      <img [ngSrc]="i!.icon!" alt="" width="18" height="18" class="absolute left-3 h-full" />
    }
    <input
      [type]="i?.type"
      [id]="i?.id"
      [name]="i?.id"
      [attr.placeholder]="i?.placeholder ? i?.placeholder : null"
      class="border-border border rounded-2xl bg-bg text-text-secondary p-2 w-full"
      [ngClass]="
        i?.type === 'number'
          ? ' appearance-none [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none'
          : ''
      "
      [class.pl-8]="i?.icon"
      [formControlName]="i!.formControlName"
    />
  </div>
</div>
