@let sc = statisticCard();

@if (sc?.isLoggedAccount) {
  <button
    class="p-2 bg-primary rounded-2xl grid grid-cols-[1fr_auto] items-center gap-x-2 cursor-pointer w-full"
  >
    <app-title class="wrap-break-word min-w-0 text-left" [title]="sc?.name" />
    <p class="text-text text-4xl whitespace-nowrap">{{ sc?.quantity }}</p>
  </button>
} @else {
  <div class="p-2 bg-primary rounded-2xl">
    @if (sc?.isNotProfileView) {
      <span class="text-sm text-text-secondary"
        ><a [routerLink]="['/', sc?.userName]">{{ sc?.userName }}</a></span
      >
    }
    <div class="flex justify-between items-center">
      <app-title class="wrap-break-word min-w-0 text-left" [title]="sc?.name" />
      <p class="text-text text-4xl">{{ sc?.quantity }}</p>
    </div>
  </div>
}
