@let b = button();

@if (b) {
  <div class="text-text font-semibold">
    @if (b.type === 'button' || b.type === 'submit') {
      <button
        [attr.aria-label]="b.ariaLabel ? b.ariaLabel : null"
        [ngClass]="{
          'bg-accent active:bg-accent-active': b.color === 'brand',
          'w-full p-3': b.size === 'full',
        }"
        class="cursor-pointer rounded-lg"
        (click)="b.event ? b.event() : null"
        [attr.type]="b.type === 'submit' ? 'submit' : null"
      >
        @if (b.text) {
          {{ b.text }}
        }

        @if (b.icon) {
          <img [src]="b.icon" />
        }
      </button>
    } @else if (b.type === 'link' && b.url) {
      <a [routerLink]="b.url" class="cursor-pointer">{{ b.text }}</a>
    }
  </div>
}
