<div class="flex flex-col gap-4">
  <app-profile-card [profileCard]="profileCard()" />
  <app-title-button [titleButton]="titleButton" />
  <app-statistic-card-list
    [StatisticCardList]="statisticCardList()"
    (editStatistic)="openUpdateStaticticHandler($event)"
  />

  <app-action-sheet
    [actionSheet]="actionSheet"
    [isOpen]="isCreateStatisticFormOpen()"
    (closed)="isCreateStatisticFormOpen.update((v) => v = false)"
  >
    <app-form [form]="statisticForm" (submitValid)="handleStatisticSubmit($event)" />
  </app-action-sheet>
</div>
